<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8">
        <title>Angular Example</title>
    </head>
    <body> 
    <div ng-controller="mainController" ng-init="init()">

	   	<input ng-model="validWord" />
	   	<button ng-click="tableReset()">click me</button>
    	<br />		
	   	<div ng-show="tableView">
				<table>
					<tr>
						<th>keep</th>
						<th>Anagram</th>
					</tr>

					<tr ng-repeat = "x in results">
						<td><input type="checkbox" ng-model = "resultKeepers[$index]" ng-Change="trackChecked($index)"/></td>
						<td>{{x}}</td>
					</tr>
				</table>
			</div>
    </div>

    <br />
    <body />
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</html>